@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi,</h1>

Welcome to your note application. Before using this application, Please make sure to update the database by executing command, <strong>Update-Database</strong> through package manager and then click to left navigation Notes menu to perform CRUD operations.
